################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WMCommandFramework2/v15/Server/sqlite3
